body {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
}

.groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.group-container {
  display: grid;
  grid-template-rows: 0.85fr 0.15fr;
  width: 300px;
  height: 300px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
}

.group-info {
  position: relative;
  border-bottom: 1px solid gray;
}

.group-description {
  position: absolute;
  left: 10px;
  top: 0;
}

.group-description p:nth-of-type(2) {
  font-size: 10px;
}

.group-description:hover {
  text-decoration: underline;
  cursor: pointer;
}
.background-pic {
  height: 60%;
  width: 100%;
  padding-top: 1px;
}

.owner-pic {
  position: absolute;
  right: 10px;
  bottom: 30%;
  width: 78px;
  border-radius: 39px;
}
